In [7]:
# pandas
import pandas as pd

tabela = pd.read_excel("Duplicados_lento_03.xlsx")
# display(tabela)
novos = pd.read_excel("novos.xlsx")
display(novos)

,hashmd5sum,separador,arquivo,Unnamed: 3
0,eb92e55017f1c368412b2f051dbea64b,*,IMG-20220324-WA0080.jpg,NaN
1,fe09bcc06bb70f6e420f9d460ed4fa4a,*,IMG-20220324-WA0206.jpg,NaN
2,e397f173f41ec0db33aa4868d95bbf52,*,IMG-20220324-WA0207.jpg,NaN
3,551cdb8bb62178fa96dec47e309861a7,*,IMG-20220324-WA0208.jpg,NaN
4,ff1f607b18af8b3bc9433c27767ecf12,*,IMG-20220324-WA0209.jpg,NaN
5,dcc78711b2ae2cd8bd8a489dc43d164f,*,IMG-20220324-WA0210.jpg,NaN
6,NaN,NaN,NaN,NaN
7,eb92e55017f1c368412b2f051dbea642,*,IMG-20220324-WA0080.jpg,NaN
8,fe09bcc06bb70f6e420f9d460ed4fa4a,*,IMG-20220324-WA0206.jpg,NaN
9,e397f173f41ec0db33aa4868d95bbf55,*,IMG-20220324-WA0207.jpg,NaN
10,551cdb8bb62178fa96dec47e309861a7,*,IMG-20220324-WA0208.jpg,NaN
11,ff1f607b18af8b3bc9433c27767ecf17,*,IMG-20220324-WA0209.jpg,NaN
12,dcc78711b2ae2cd8bd8a489dc43d1642,*,IMG-20220324-WA0210.jpg,NaN

In [8]:
import numpy as np

tabela_col = ['hashmd5sum','arquivo']
df_tabela = tabela[tabela_col]

novos_col = ['hashmd5sum','arquivo']
df_novos = novos[novos_col]

display(df_novos)

                          hashmd5sum                  arquivo
0   eb92e55017f1c368412b2f051dbea64b  IMG-20220324-WA0080.jpg
1   fe09bcc06bb70f6e420f9d460ed4fa4a  IMG-20220324-WA0206.jpg
2   e397f173f41ec0db33aa4868d95bbf52  IMG-20220324-WA0207.jpg
3   551cdb8bb62178fa96dec47e309861a7  IMG-20220324-WA0208.jpg
4   ff1f607b18af8b3bc9433c27767ecf12  IMG-20220324-WA0209.jpg
5   dcc78711b2ae2cd8bd8a489dc43d164f  IMG-20220324-WA0210.jpg
6                                NaN                      NaN
7   eb92e55017f1c368412b2f051dbea642  IMG-20220324-WA0080.jpg
8   fe09bcc06bb70f6e420f9d460ed4fa4a  IMG-20220324-WA0206.jpg
9   e397f173f41ec0db33aa4868d95bbf55  IMG-20220324-WA0207.jpg
10  551cdb8bb62178fa96dec47e309861a7  IMG-20220324-WA0208.jpg
11  ff1f607b18af8b3bc9433c27767ecf17  IMG-20220324-WA0209.jpg
12  dcc78711b2ae2cd8bd8a489dc43d1642  IMG-20220324-WA0210.jpg

In [12]:
##***********import pandas as pd
##***********df = pd.read_excel('comparison.xlsx')
##***********result = df[df['finaldata1'].isin(list(df['check'])) & df['finaldata2'].isin(list(df['check']))] #finaldata1 e 2 são colunas na tabela, comparadas com a coluna check
##***********result
comparado = df_novos[df_novos['hashmd5sum'].isin(list(df_tabela['hashmd5sum']))]
display(comparado)
comparado.to_excel('comparado.xlsx',index=False)
##***----> 7 comparado.to_excel('comparado.xlsx',index=false)
##*** NameError: name 'false' is not defined

                          hashmd5sum                  arquivo
0   eb92e55017f1c368412b2f051dbea64b  IMG-20220324-WA0080.jpg
1   fe09bcc06bb70f6e420f9d460ed4fa4a  IMG-20220324-WA0206.jpg
3   551cdb8bb62178fa96dec47e309861a7  IMG-20220324-WA0208.jpg
5   dcc78711b2ae2cd8bd8a489dc43d164f  IMG-20220324-WA0210.jpg
8   fe09bcc06bb70f6e420f9d460ed4fa4a  IMG-20220324-WA0206.jpg
9   e397f173f41ec0db33aa4868d95bbf55  IMG-20220324-WA0207.jpg
10  551cdb8bb62178fa96dec47e309861a7  IMG-20220324-WA0208.jpg
11  ff1f607b18af8b3bc9433c27767ecf17  IMG-20220324-WA0209.jpg

In [22]:
teste = pd.read_csv(r'hashlist09.txt', sep='*')
teste.columns = ['hashmd5sum','arquivo']
display(teste)
teste.to_excel()

                             hashmd5sum                  arquivo
0     cf709940e5b32848049cc1980831b7eb   IMG-20220330-WA0541.jpg
1     6818db0f810321c1a8637507a8d7886d   IMG-20220330-WA0584.jpg
2     a45fc64a2755747130d6ea84ee232e9a   IMG-20220330-WA0585.jpg
3     e9002a36a96afd9dbdce62ba0064d9bf   IMG-20220330-WA0586.jpg
4     26511adbfbfe56edba934c1beccac2a4   IMG-20220330-WA0587.jpg
...                                 ...                      ...
3295  cece2f77443a77d4c930267da3a98ec1   VID-20220330-WA4076.mp4
3296  c7f6207cd4a4daddc09c5621e7a22c95   VID-20220330-WA4077.mp4
3297  80adbf6c248729cd2570aad346bb7761   VID-20220330-WA4078.mp4
3298  79f65507a9ce8a20f36e4dfc3712a750   VID-20220330-WA4079.mp4
3299  5b2ae62076dbdbd8e4659ba57ea877fe   VID-20220330-WA4080.mp4

[3300 rows x 2 columns]

In [18]:
comparado = teste[teste['hashmd5sum'].isin(list(df_tabela['hashmd5sum']))]
display(comparado)
comparado.to_excel('comparadoteste.xlsx',index=False)

Empty DataFrame
Columns: [hashmd5sum, arquivo]
Index: []