In [28]:
# pandas
import pandas as pd

verificar = 'hashlist10.txt' #nome do arquivo para colocar na variavel teste
colspecs = [(0,32),(32,34),(34,-1)]
historico = pd.read_fwf('Historico.txt',colspecs = colspecs, names=['hashmd5sum','sp','arquivo'] )
teste = pd.read_fwf(verificar,colspecs = colspecs, names=['hashmd5sum','sp','arquivo'] )

display(teste)

comparado_tem = teste[teste['hashmd5sum'].isin(list(historico['hashmd5sum']))]
display(comparado_tem)

comparado_naotem = teste[~teste['hashmd5sum'].isin(list(historico['hashmd5sum']))]
display(comparado_naotem)

comparado_tem['arquivo'].to_csv('listax.txt', index=False, header=False)
display(historico)
comparado_naotem['hashmd5sum'].to_csv('historico.txt', index=False, header=False, mode='a')
historico = pd.read_fwf('Historico.txt',colspecs = colspecs, names=['hashmd5sum','sp','arquivo'] )
display(historico)

                            hashmd5sum sp                  arquivo
0     4a7abf071e0707ab122bd86489dcf3f1  *  IMG-20220331-WA0358.jpg
1     bdc521aa1e81cfef0d801df6c0eb6fc0  *  IMG-20220331-WA0359.jpg
2     4dfe98606b25ef762f319042077232ff  *  IMG-20220331-WA0360.jpg
3     1be78c3b4d100a77cea9cc7bd8b80615  *  IMG-20220331-WA0361.jpg
4     3e28d5a3992783615e8690a91c70da4f  *  IMG-20220331-WA0362.jpg
...                                ... ..                      ...
2030  8cdca5d1cdc2b2e72e6b758c54d36d91  *  VID-20220401-WA1114.mp4
2031  e767bb60869160adbee96cfcd60a89b7  *  VID-20220401-WA1116.mp4
2032  ec6d6c0270ef93a29ceaa422e645bf8c  *  VID-20220401-WA1119.mp4
2033  9fd5d3b8475ee8f0e4cea429b7e02ab3  *  VID-20220401-WA1121.mp4
2034  8544f821e2812755d591bb12636820e6  *  VID-20220401-WA1122.mp4

[2035 rows x 3 columns]

                            hashmd5sum sp                  arquivo
38    ea3965035ecaa0f1b0f2f566242a7252  *  IMG-20220331-WA0614.jpg
83    3aa5a401addb178cd9bab7c97ac1fadc  *  IMG-20220331-WA0659.jpg
140   e56e77fae2c79b2a169c233f9a3b8363  *  IMG-20220401-WA0065.jpg
145   a67599e0e58839917cdfe957b31a20f2  *  IMG-20220401-WA0091.jpg
204   4e087510e75ecd95186579342a1b45ac  *  IMG-20220401-WA0155.jpg
...                                ... ..                      ...
2023  79b006a9f1bfb8f94d2fe95139a17da6  *  VID-20220401-WA1107.mp4
2024  df7ca6fdd42f6b329373310f508234c0  *  VID-20220401-WA1108.mp4
2025  40f3a6f511150bb8adfc805324b65017  *  VID-20220401-WA1109.mp4
2026  772a67744a96a87141421f27c48ae711  *  VID-20220401-WA1110.mp4
2030  8cdca5d1cdc2b2e72e6b758c54d36d91  *  VID-20220401-WA1114.mp4

[470 rows x 3 columns]

                            hashmd5sum sp                  arquivo
0     4a7abf071e0707ab122bd86489dcf3f1  *  IMG-20220331-WA0358.jpg
1     bdc521aa1e81cfef0d801df6c0eb6fc0  *  IMG-20220331-WA0359.jpg
2     4dfe98606b25ef762f319042077232ff  *  IMG-20220331-WA0360.jpg
3     1be78c3b4d100a77cea9cc7bd8b80615  *  IMG-20220331-WA0361.jpg
4     3e28d5a3992783615e8690a91c70da4f  *  IMG-20220331-WA0362.jpg
...                                ... ..                      ...
2029  31a8335c47b1f3abc8e036c50c353fab  *  VID-20220401-WA1113.mp4
2031  e767bb60869160adbee96cfcd60a89b7  *  VID-20220401-WA1116.mp4
2032  ec6d6c0270ef93a29ceaa422e645bf8c  *  VID-20220401-WA1119.mp4
2033  9fd5d3b8475ee8f0e4cea429b7e02ab3  *  VID-20220401-WA1121.mp4
2034  8544f821e2812755d591bb12636820e6  *  VID-20220401-WA1122.mp4

[1565 rows x 3 columns]

                             hashmd5sum   sp                  arquivo
0      9eff7b4bda6e3e5ec6cc384701a748f7    *  IMG-20220112-WA1401.jpg
1      ee512d5748a6e5776b25b11ed6a25059  NaN                      NaN
2      33b6b0a1d465ae532b1a87e3ec054bdd  NaN                      NaN
3      8b734263bda75132f90f8c9940d1e165  NaN                      NaN
4      1296c4664b6d9e11db4ac82025c607b6  NaN                      NaN
...                                 ...  ...                      ...
85753  e952264885968ed38f061007936bd921  NaN                      NaN
85754  7380c5a5933ac4d2d8aaba2801fcb50f  NaN                      NaN
85755  c7f6207cd4a4daddc09c5621e7a22c95  NaN                      NaN
85756  80adbf6c248729cd2570aad346bb7761  NaN                      NaN
85757  79f65507a9ce8a20f36e4dfc3712a750  NaN                      NaN

[85758 rows x 3 columns]

                             hashmd5sum   sp                  arquivo
0      9eff7b4bda6e3e5ec6cc384701a748f7    *  IMG-20220112-WA1401.jpg
1      ee512d5748a6e5776b25b11ed6a25059  NaN                      NaN
2      33b6b0a1d465ae532b1a87e3ec054bdd  NaN                      NaN
3      8b734263bda75132f90f8c9940d1e165  NaN                      NaN
4      1296c4664b6d9e11db4ac82025c607b6  NaN                      NaN
...                                 ...  ...                      ...
87317  31a8335c47b1f3abc8e036c50c353fab  NaN                      NaN
87318  e767bb60869160adbee96cfcd60a89b7  NaN                      NaN
87319  ec6d6c0270ef93a29ceaa422e645bf8c  NaN                      NaN
87320  9fd5d3b8475ee8f0e4cea429b7e02ab3  NaN                      NaN
87321  8544f821e2812755d591bb12636820e6  NaN                      NaN

[87322 rows x 3 columns]

In [29]:
# historico.hashmd5sum.duplicated()
# historico.hashmd5sum.duplicated().sum() # soma de duplicados
# (~historico.hashmd5sum.duplicated()).sum() # soma de NAO duplicados
# historico.loc[historico.duplicated(), :] # lista duplicados
# historico.drop_duplicates(inplace=True) # remove duplicados do dataframe, sem o inplace cria novo dataframe

# Considering certain columns for dropping duplicates
# df.drop_duplicates(subset=['Survived', 'Pclass', 'Sex'])

# To drop all duplicates
# df.drop_duplicates(keep=False)

# Use keep='last' to keep the last occurrence 
# df.drop_duplicates(keep='last')
historico.info()
historico.hashmd5sum.duplicated().sum()
print (historico)
# historico.to_csv('historico.txt', index=False, header=False)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 87322 entries, 0 to 87321
Data columns (total 3 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   hashmd5sum  87322 non-null  object
 1   sp          2 non-null      object
 2   arquivo     2 non-null      object
dtypes: object(3)
memory usage: 2.0+ MB
                             hashmd5sum   sp                  arquivo
0      9eff7b4bda6e3e5ec6cc384701a748f7    *  IMG-20220112-WA1401.jpg
1      ee512d5748a6e5776b25b11ed6a25059  NaN                      NaN
2      33b6b0a1d465ae532b1a87e3ec054bdd  NaN                      NaN
3      8b734263bda75132f90f8c9940d1e165  NaN                      NaN
4      1296c4664b6d9e11db4ac82025c607b6  NaN                      NaN
...                                 ...  ...                      ...
87317  31a8335c47b1f3abc8e036c50c353fab  NaN                      NaN
87318  e767bb60869160adbee96cfcd60a89b7  NaN                      NaN
87319  ec6d6c0270ef93a29ceaa422e645bf8c  NaN                      NaN
87320  9fd5d3b8475ee8f0e4cea429b7e02ab3  NaN                      NaN
87321  8544f821e2812755d591bb12636820e6  NaN                      NaN

[87322 rows x 3 columns]