In [28]:
# Importing pandas as pd
import pandas as pd
  
# Creating the first Dataframe using dictionary
df1 = df = pd.DataFrame({"a":[1, 2, 3, 4],
                         "b":[5, 6, 7, 8]})
  
# Creating the Second Dataframe using dictionary
df2 = pd.DataFrame({"a":[1, 2, 3],
                    "b":[5, 6, 7]})
  
# Print df1
print(df1, "\n")
  
# Print df2
df2

   a  b
0  1  5
1  2  6
2  3  7
3  4  8

   a  b
0  1  5
1  2  6
2  3  7

In [2]:
# to append df2 at the end of df1 dataframe
# df1.append(df2)
#print (df1)

# A continuous index value will be maintained
# across the rows in the new appended data frame.
df1.append(df2, ignore_index = True)
#print (df1)

   a  b
0  1  5
1  2  6
2  3  7
3  4  8
4  1  5
5  2  6
6  3  7

In [6]:
A=[2,4,7,8,9,11,14,15,17,18,19,20,22,24,25,26,30,34,35,36,40,43,44,45,51,55,56,58,59,61,62,63,66,70,71,74,75,76,77,78,79,81,82,83,85,86,89,90,97,98]
B=[1,3,5,6,10,12,13,16,21,23,27,28,29,31,32,33,37,38,39,41,42,46,47,48,49,50,52,53,54,57,60,64,65,67,68,69,72,73,80,84,87,88,91,92,93,94,95,96,99,100]
C=[1,2,8,9,12,13,15,16,17,18,19,20,21,22,26,27,29,35,37,40,41,42,45,47,50,55,56,57,58,59,60,61,63,66,69,74,75,76,77,80,81,82,86,88,89,96,97,98,99,100]
D=[3,4,5,6,7,10,11,14,23,24,25,28,30,31,32,33,34,36,38,39,43,44,46,48,49,51,52,53,54,62,64,65,67,68,70,71,72,73,78,79,83,84,85,87,90,91,92,93,94,95]
E=[1,3,5,10,12,13,14,16,17,18,19,21,23,24,27,28,29,30,31,33,35,38,39,41,43,46,47,48,49,54,55,58,62,63,65,68,70,74,75,78,79,84,86,89,90,92,94,95,96,100]
F=[2,4,6,7,8,9,11,15,20,22,25,26,32,34,36,37,40,42,44,45,50,51,52,53,56,57,59,60,61,64,66,67,69,71,72,73,76,77,80,81,82,83,85,87,88,91,93,97,98,99]
G=[1,3,5,9,11,12,13,14,16,17,23,26,28,32,33,35,36,37,40,42,43,44,47,49,52,53,54,55,57,59,60,61,63,64,67,68,74,75,76,78,82,83,84,87,93,95,96,97,98,99]
H=[1,3,4,6,8,10,11,12,14,19,23,24,25,26,29,35,38,41,42,43,44,45,48,49,50,51,53,54,55,57,58,61,62,64,65,66,68,71,72,73,76,78,82,83,85,86,87,91,93,95]
listatotal = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 
              31, 32, 33, 34, 35, 36, 37, 38, 39, 40, 41, 42, 43, 44, 45, 46, 47, 48, 49, 50, 51, 52, 53, 54, 55, 56, 57, 
              58, 59, 60, 61, 62, 63, 64, 65, 66, 67, 68, 69, 70, 71, 72, 73, 74, 75, 76, 77, 78, 79, 80, 81, 82, 83, 84, 
              85, 86, 87, 88, 89, 90, 91, 92, 93, 94, 95, 96, 97, 98, 99, 100]
total = pd.DataFrame (listatotal, columns = ['todos'])
lista01 = pd.DataFrame(A,columns = ['itens'])
espelho = total[~total['todos'].isin(list(lista01['itens']))]

espelho = espelho.reset_index(drop=True)
ambos = pd.concat([lista01, espelho], axis=1)

print (ambos)

    itens  todos
0       2      1
1       4      3
2       7      5
3       8      6
4       9     10
5      11     12
6      14     13
7      15     16
8      17     21
9      18     23
10     19     27
11     20     28
12     22     29
13     24     31
14     25     32
15     26     33
16     30     37
17     34     38
18     35     39
19     36     41
20     40     42
21     43     46
22     44     47
23     45     48
24     51     49
25     55     50
26     56     52
27     58     53
28     59     54
29     61     57
30     62     60
31     63     64
32     66     65
33     70     67
34     71     68
35     74     69
36     75     72
37     76     73
38     77     80
39     78     84
40     79     87
41     81     88
42     82     91
43     83     92
44     85     93
45     86     94
46     89     95
47     90     96
48     97     99
49     98    100

In [40]:
A=[2,4,7,8,9,11,14,15,17,18,19,20,22,24,25,26,30,34,35,36,40,43,44,45,51,55,56,58,59,61,62,63,66,70,71,74,75,76,77,78,79,81,82,83,85,86,89,90,97,98]
B=[1,3,5,6,10,12,13,16,21,23,27,28,29,31,32,33,37,38,39,41,42,46,47,48,49,50,52,53,54,57,60,64,65,67,68,69,72,73,80,84,87,88,91,92,93,94,95,96,99,100]
C=[1,2,8,9,12,13,15,16,17,18,19,20,21,22,26,27,29,35,37,40,41,42,45,47,50,55,56,57,58,59,60,61,63,66,69,74,75,76,77,80,81,82,86,88,89,96,97,98,99,100]
D=[3,4,5,6,7,10,11,14,23,24,25,28,30,31,32,33,34,36,38,39,43,44,46,48,49,51,52,53,54,62,64,65,67,68,70,71,72,73,78,79,83,84,85,87,90,91,92,93,94,95]
E=[1,3,5,10,12,13,14,16,17,18,19,21,23,24,27,28,29,30,31,33,35,38,39,41,43,46,47,48,49,54,55,58,62,63,65,68,70,74,75,78,79,84,86,89,90,92,94,95,96,100]
F=[2,4,6,7,8,9,11,15,20,22,25,26,32,34,36,37,40,42,44,45,50,51,52,53,56,57,59,60,61,64,66,67,69,71,72,73,76,77,80,81,82,83,85,87,88,91,93,97,98,99]
G=[1,3,5,9,11,12,13,14,16,17,23,26,28,32,33,35,36,37,40,42,43,44,47,49,52,53,54,55,57,59,60,61,63,64,67,68,74,75,76,78,82,83,84,87,93,95,96,97,98,99]
H=[1,3,4,6,8,10,11,12,14,19,23,24,25,26,29,35,38,41,42,43,44,45,48,49,50,51,53,54,55,57,58,61,62,64,65,66,68,71,72,73,76,78,82,83,85,86,87,91,93,95]
listatotal = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 
              31, 32, 33, 34, 35, 36, 37, 38, 39, 40, 41, 42, 43, 44, 45, 46, 47, 48, 49, 50, 51, 52, 53, 54, 55, 56, 57, 
              58, 59, 60, 61, 62, 63, 64, 65, 66, 67, 68, 69, 70, 71, 72, 73, 74, 75, 76, 77, 78, 79, 80, 81, 82, 83, 84, 
              85, 86, 87, 88, 89, 90, 91, 92, 93, 94, 95, 96, 97, 98, 99, 100]
total = pd.DataFrame (listatotal, columns = ['todos'])
lista01 = pd.DataFrame(A,columns = ['A'])
espelho = total[~total['todos'].isin(list(lista01['A']))]

espelho = espelho.reset_index(drop=True)
espelho.rename(columns={'todos': 'aa'}, inplace=True)
ambos = pd.concat([lista01, espelho], axis=1)
# ambos.rename(columns={'todos': 'aa'}, inplace=True)



print (ambos)

     A  todos
0    2      1
1    4      3
2    7      5
3    8      6
4    9     10
5   11     12
6   14     13
7   15     16
8   17     21
9   18     23
10  19     27
11  20     28
12  22     29
13  24     31
14  25     32
15  26     33
16  30     37
17  34     38
18  35     39
19  36     41
20  40     42
21  43     46
22  44     47
23  45     48
24  51     49
25  55     50
26  56     52
27  58     53
28  59     54
29  61     57
30  62     60
31  63     64
32  66     65
33  70     67
34  71     68
35  74     69
36  75     72
37  76     73
38  77     80
39  78     84
40  79     87
41  81     88
42  82     91
43  83     92
44  85     93
45  86     94
46  89     95
47  90     96
48  97     99
49  98    100

In [ ]:
listatotal = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 
              31, 32, 33, 34, 35, 36, 37, 38, 39, 40, 41, 42, 43, 44, 45, 46, 47, 48, 49, 50, 51, 52, 53, 54, 55, 56, 57, 
              58, 59, 60, 61, 62, 63, 64, 65, 66, 67, 68, 69, 70, 71, 72, 73, 74, 75, 76, 77, 78, 79, 80, 81, 82, 83, 84, 
              85, 86, 87, 88, 89, 90, 91, 92, 93, 94, 95, 96, 97, 98, 99, 100]

total = pd.DataFrame (listatotal, columns = ['todos'])

lista01 = pd.read_csv('lista.csv',names = ['itens'])
# espelho = lista01[~lista01['itens'].isin(list(total['todos']))]
espelho = total[~total['todos'].isin(list(lista01['itens']))]

# print(lista01)
# print(espelho)

# ambos = lista01.merge(espelho, on='espelho') #não funcionou precisa ter uma coluna 'espelho' no df lista01
# lista01['espelho']=''
# espelho = espelho.rename(columns={'todos' : 'espelho'})
# ambos = lista01.merge(espelho, on='espelho') #não funcionou ValueError: You are trying to merge on object and int64 columns. If you wish to proceed you should use pd.concat

# ambos = pd.concat([lista01, espelho], axis=1, join='inner')
# apagou a primeira linha

# ambos=lista01.append(espelho)
# dobrou a lista preenchendo com NaN

# ambos = pd.concat([lista01, espelho], axis=1)
# ambos = pd.concat([lista01, espelho], axis=1, ignore_index=True)
# alinha os itens de acordo com o indice de linhas do df todos que manteve, após a intersecção, do df total

# espelho = espelho.reset_index()
# ambos = pd.concat([lista01, espelho], axis=1)
# veio com a coluna index do espelho

espelho = espelho.reset_index(drop=True)
ambos = pd.concat([lista01, espelho], axis=1)

ambos.to_csv('ambos.csv', index=False)
print('Feito!')

## funcoes para lista espelho
https://stackoverflow.com/questions/3462143/get-difference-between-two-lists

In [1]:
list1 = [1, 3, 5, 7, 9]
list2 = [1, 2, 3, 4, 5]

In [6]:
def difference(list1, list2):
    new_list = []
    for i in list1:
        if i not in list2:
            new_list.append(i)

    for j in list2:
        if j not in list1:
            new_list.append(j)
    return new_list

funcao = difference(list1, list2)
print (funcao)

[7, 9, 2, 4]

In [7]:
# versus

def sym_diff(list1, list2):
    return list(set(list1).symmetric_difference(set(list2)))

funcao = sym_diff(list1, list2)
print (funcao)

[2, 4, 7, 9]

In [25]:
# print (set(list1).difference(set(list2)) #falta parentese para fechar o print()
# print (list(set(list1).difference(set(list2))) #falta parentese para fechar o print()

print (set(list1).difference(set(list2)))
print (list(set(list1).difference(set(list2))))

{9, 7}
[9, 7]

In [14]:
list_a = [1,2,3]
list_b = [2,3]
set(list_a).difference(set(list_b))

{1}